<header>
    <h1 class="logo">Weather app</h1>
    <nav>
        <a href="/weather">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </nav>
</header>
<h1>{{title}}</h1>